@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    /* margin-left: 5%;
    margin-right: 5%; */
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;

}

.clear {
    text-decoration: none;
}

body.active {
    background-color: #000;
    color: #fff
}

nav {
    display: flex;
    /* outline: 1px solid red; */
    justify-content: space-between;
}

#navless {
    margin-left: 50%;
}

nav img {
    width: 5rem;
    height: 5rem;
}

.navLink {
    text-decoration: none;
    color: dodgerblue;
    /* outline: 1px solid red; */
    margin-right: 1rem;
    font-size: 1.1rem;
    align-self: center;
    transition: 1s;

}

.navLink:hover {
    color: green;
    transform: translateY(-8px);
}

nav ul {
    /* outline: 1px solid red; */
    width: 50vw;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.main {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 5%;
}

.img-cent {
    border: 20px solid blue;
    border-radius: 60rem;
    width: 34vw;
    height: 64vh;
    position: relative;
    margin-right: 5rem;

}

.img-cent img {
    position: absolute;
    width: 100%;
    margin-left: -2rem;
}

.comb {
    /* outline: 1px solid red; */
    height: 35rem;
    width: 45vw;
    margin-top: 5rem;

}

.comb h1 {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.comb p {
    font-size: 1.2rem;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}

.buttons {
    display: flex;
    margin-bottom: 9rem;

}

.mybtn {
    border: none;
    /* border-radius: 50px; */
    /* border: 3px solid black; */
    background-color: blue;
    width: 12rem;
    height: 4rem;
    color: #fff;
    margin-right: 1rem;
    font-size: 1rem;
    font-family: poppins;
}

.social {
    /* outline: 1px solid red; */
    /* display: inline; */
    margin-left: 60%;


}

.social a {
    /* outline: 1px solid red; */
    margin-left: 3rem;

}

.section2 {
    /* outline: 1px solid red; */
    padding-top: 5rem;
    margin-bottom: 4rem;
}

.big {
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.comb2 {
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;

}



.code h3 {
    font-size: 1.5rem
}

.ui {
    /* outline: 1px solid red; */
    display: flex;
    margin-bottom: 1rem;

}

.ui img {
    width: 4rem;
    height: 4rem;
    align-self: center;
    margin-right: 2rem;
    /* outline: 1px solid red; */
}

#real {
    margin-right: 3rem;
}

.gauge {
    /* outline: 1px solid red; */
    width: 35vw;
    /* padding-left: 5rem; */
}

.guge {
    padding-left: 5rem;
    width: 35vw;
}

.code {
    /* outline: 1px solid red; */
    width: 40vw;
    margin-left: 1rem;
    margin-right: 4rem;

}

.gauge h3 {
    font-size: 1.5rem
}

#html {
    color: dodgerblue;
    width: 35vw;
    height: 2rem;
    margin-bottom: 3rem;
}

#css {
    color: dodgerblue;
    width: 35vw;
    height: 2rem;
    margin-bottom: 3rem;
}

#javascript {
    color: dodgerblue;
    width: 35vw;
    height: 2rem;
    margin-bottom: 3rem;
}

#react {
    color: dodgerblue;
    width: 35vw;
    height: 2rem;
    margin-bottom: 3rem;
}

#node {
    color: dodgerblue;
    width: 35vw;
    height: 2rem;
    margin-bottom: 3rem;
}

#mysql {
    color: dodgerblue;
    width: 35vw;
    height: 2rem;
    margin-bottom: 3rem;
}

.damn {
    margin-right: 3rem;
    margin-left: 1.5rem;
}



.section3 {
    /* outline: 1px solid red; */
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section4 {
    /* outline: 1px solid red; */
    padding-bottom: 3rem;
}

.section5 {
    /* outline: 1px solid red; */
    margin-top: 5rem;
    padding-top: 2rem;
}

.inp {
    width: 25rem;
    height: 3rem;
    margin-bottom: 2rem;
}

.inp2 {
    width: 25rem;
    height: 3rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
}

.carImg {
    width: 30rem;
    height: 30rem;
}

.accord.active {
    background-color: #0000ff;
    color: #fff;
}

.section6 {
    text-align: center;
    background-color: #000066;
    height: 50%;
    width: 100%;
    padding: 2rem;
    margin: 0;
    color: #fff;
}

@media (max-width: 768px) {
    body {
        /* margin-left: 50%; */
    }

    .main {
        display: flex;
        flex-direction: column;
        /* border: 2px solid #000; */
        margin-top: 5rem;
        margin-bottom: 5rem;
        margin-left: 3%;
    }

    .img-cent {
        border: 20px solid blue;
        border-radius: 60rem;
        width: 60vw;
        height: 40vh;
        position: relative;
        margin: auto;

    }

    .img-cent img {
        position: absolute;
        width: 100%;
        margin-left: -2rem;
    }

    .comb {
        /* outline: 1px solid red; */
        /* height: 35rem; */
        width: 100%;
        margin-top: 5rem;
        padding: 10px;

    }

    .comb h1 {
        /* outline: 1px solid red; */
        font-size: 5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .comb p {
        /* outline: 1px solid red; */
        font-size: 1.2rem;
        margin-top: 0rem;
        margin-bottom: 2.5rem;
    }

    .social {
        /* outline: 1px solid red; */
        /* display: inline; */
        margin-left: 50%;


    }

    .social a {
        /* outline: 1px solid red; */
        margin-left: 3rem;

    }

    .buttons {
        display: flex;
        /* margin-bottom: 9rem; */
        /* border: 3px solid black; */

    }

    .mybtn {
        border: none;
        border-radius: 50px;
        background-color: blue;
        width: 12rem;
        height: 4rem;
        color: #fff;
        margin-right: 1rem;
        font-size: 1rem;
        font-family: poppins;
    }

    .comb2 {
        display: flex;
        flex-direction: column;
    }

    .ui {
        /* outline: 1px solid red; */
        display: flex;
        margin-bottom: 1rem;
        width: 90%
    }

    .guge {
        padding-left: 1rem;
        width: 90vw;
        margin-top: 2rem;
    }

    .code {
        /* outline: 1px solid red; */
        width: 90vw;
        margin-left: 1rem;
        margin-right: 4rem;

    }

    .buttons {
        display: flex;
        margin-bottom: 2rem;

    }

    .section3 {
        /* outline: 1px solid red; */
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .section4 {
        /* outline: 1px solid red; */
        padding-bottom: 1rem;
    }

    .section5 {
        /* outline: 1px solid red; */
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .section2 {
        /* outline: 1px solid red; */
        padding-top: 3rem;
        margin-bottom: 1rem;
    }

    #html {
        color: dodgerblue;
        width: 85vw;
        height: 2rem;
        margin-bottom: 3rem;
    }

    #css {
        color: dodgerblue;
        width: 85vw;
        height: 2rem;
        margin-bottom: 3rem;
    }

    #javascript {
        color: dodgerblue;
        width: 85vw;
        height: 2rem;
        margin-bottom: 3rem;
    }

    #react {
        color: dodgerblue;
        width: 85vw;
        height: 2rem;
        margin-bottom: 3rem;
    }

    #node {
        color: dodgerblue;
        width: 85vw;
        height: 2rem;
        margin-bottom: 3rem;
    }

    #mysql {
        color: dodgerblue;
        width: 85vw;
        height: 2rem;
        margin-bottom: 3rem;
    }

    .inp {
        width: 90%;
        height: 3rem;
        margin-bottom: 2rem;
    }

    .inp2 {
        width: 90%;
        height: 3rem;
        margin-bottom: 3rem;
        font-size: 1.1rem;
    }

    #btn-click {
        margin-left: 25%
    }

}